<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">
    <link rel="shortcut icon" href="/{{ STATIC_DIR }}/{{ FAVICON }}" />

    <!-- Bootstrap core CSS -->
    <link href="/{{ STATIC_DIR }}/{{ BOOTSTRAP_CSS }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/{{ STATIC_DIR }}/{{ MY_CSS }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ HTML5SHIV }}"></script>
      <script src="{{ RESPOND }}"></script>
    <![endif]-->
    {% endblock head %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ SITEURL }}/"><img src="/{{ STATIC_DIR }}/{{ LOGO }}" class="pull-left" /></a>
          <a id="long-name" class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
          <a id="short-name" class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME_SHORT }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for link in NAVIGATION_BAR %}
              <li><a {% if link.target %}target="{{ link.target }}"{% endif %}href="{{ link.href }}">{{ link.label }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="text-muted" style="margin-top: 20px"><strong>Kontakt</strong></div>
            {% for c in CONTACTS %}
              <address>
                <strong>{{ c.name }}</strong><br>
                {% if c.info %}
                  {{ c.info }}<br>
                {% endif %}
                {% if c.phone %}
                  <span>Tel:</span> {{ c.phone }}<br />
                {% endif %}
                {% if c.mail %}
                  <span>Mail:</span>
                  {{ c.mail[0] }} <em>zavináč</em> {{ c.mail[1] }}.{{ c.mail[2] }}
                {% endif %}
              </address>
            {% endfor %}
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="text-muted" style="margin-top: 20px"><strong>Archiv</strong></div>
            <nav>
              {% for y in ARCHIVE_YEARS %}
              <a href="/{{ ARCHIVE_DIR }}/{{ y }}">{{ y }}</a><br>
              {% endfor %}
              <a href="http://stary.rmkletovice.cz">Starý web</a><br>
            </nav>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="text-muted" style="margin-top: 20px"><strong>Navigace</strong></div>
            <nav>
              {% for link in NAVIGATION_BAR %}
                <a {% if link.target %}target="{{ link.target }}"{% endif %}href="{{ link.href }}">{{ link.label }}</a><br />
                {% if link.actions_list %}
                  <div style="margin-left: 12px">
                  {% for label, href in link.actions_list %}
                  <a href="{{ href }}">{{ label }}</a><br>
                  {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </nav>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ JQUERY }}"></script>
    <script src="/{{ STATIC_DIR }}/{{ BOOTSTRAP_JS }}"></script>
  </body>
</html>
