{% set action = article.action|parse_structure %}
<div class="col-sm-5 col-md-6" style="margin-bottom: 20px">
  <table style="width: 100%" class="akce-meta">
    {% if action.date %}
    <tr>
      <td style="min-width: 35%"><strong>Datum</strong></td>
      <td>{{ action.date|parse_and_format_date }}</td>
    </tr>
    {% endif %}
    {% if action.place %}
    <tr>
      <td><strong>Místo</strong></td>
      <td>{{ action.place }}
          {% if action.map %}(<a href="{{ action.map }}">Mapa</a>){% endif %}
      </td>
    </tr>
    {% endif %}
  </table>
  {% if action.gallery %}
  <div style="margin-top: 10px">
      <a href="{{ action.gallery }}" target="_blank" style="font-size: 13pt"><strong>Fotogalerie akce</strong></a>
  </div>
  {% endif %}
</div>
<div class="col-sm-7 col-md-6" style="margin-bottom: 20px">
  <table class="width100">
    {% for doc in action.documents %}
    <tr>
      <td style="padding-right: 10px"><strong>{{ doc.name }}</strong></td>
      <td>
        <div style="text-align: right">
          {% if 'pdf' in doc.formats %}
            <a target="blank" href="https://docs.google.com/viewer?url={{ SITEURL }}{{ doc.filename }}.pdf" style="color: green">Prohlédnout</a> /
          {% endif %}
          Stáhnout:{% for format in doc.formats %}&nbsp;<a href="{{ doc.filename }}.{{ format }}">{{ format|upper }}</a>{% endfor %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% if action.gallery_thumbnail %}
<div class="col-sm-12 text-center">
  <a href="{{ action.gallery }}" target="_blank">
    <img src="https://www.zonerama.com/photos/{{ action.gallery_thumbnail }}_450x300_16.jpg" alt="Galerie" class="img-rounded" />
  </a>
</div>
{% endif %}
