{% set action = article.action|parse_structure %}
<div class="col-sm-5 col-md-6" style="margin-bottom: 20px">
  <table style="width: 100%" class="akce-meta">
    {% if action.date %}
    <tr>
      <td style="min-width: 35%"><strong>Datum</strong></td>
      <td>{{ action.date }}</td>
    </tr>
    {% endif %}
    {% if action.place %}
    <tr>
      <td><strong>Místo</strong></td>
      <td>{{ action.place }}
          {% if action.map %}(<a href="{{ action.map }}" target="_blank">Mapa</a>){% endif %}
      </td>
    </tr>
    {% endif %}
  </table>
  {% if action.gallery %}
  <div style="margin-top: 10px">
      <a href="{{ action.gallery }}" target="_blank" style="font-size: 13pt"><strong>Fotogalerie akce</strong></a>
  </div>
  {% endif %}
</div>
<div class="col-sm-7 col-md-6" style="margin-bottom: 20px">
  <table style="width: 100%">
    {% for doc in action.documents %}
    <tr>
      <td style="padding-right: 10px"><strong>{{ doc.name }}</strong></td>
      <td>
        <div style="text-align: right">
          {% if doc.filename %}
            {% if 'pdf' in doc.formats %}
              <a target="blank" href="https://docs.google.com/viewer?url={{ SITEURL }}/docs/{{ doc.filename }}.pdf" style="color: green">Prohlédnout</a> /
            {% endif %}
            Stáhnout:{% for format in doc.formats %}&nbsp;<a href="/docs/{{ doc.filename }}.{{ format }}">{{ format|upper }}</a>{% endfor %}
          {% endif %}
          {% if doc.link %}
            <a target="blank" href="{{ doc.link }}" style="color: green">Prohlédnout</a>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
